.recipe-search {
  margin: 0 20px;
  outline: #333
}

.recipe-search input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.8rem;
  outline: none;
  border-radius: 30px;
  border: 1px solid rgb(255, 200, 0);
  box-shadow: 0 0 3px 0 #333;
  background-color: rgb(255, 245, 211); 
}

@media (max-width: 1000px) {
  .recipe-search {
    margin: 0;
  }
}