.footer-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 170px;
  grid-template-areas:
    "copyright social";
  grid-gap: 10px;
}

.footer-item-copyright {
  grid-area: copyright;
  justify-self: start;
  align-self: center;
  color: #ffffff;
}

.footer-item-social {
  grid-area: social;
  justify-self: end;
  align-self: center
}

.footer-item-social i {
  padding-left: 20px;
  font-size: 2.5rem;
  color: #ffffff;
}