.header {
  background-color: rgb(255, 200, 0);
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px -2px gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-spacer {
  height: 150px;
}

.body-container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  padding: 0 20px;
}


.footer {
  background-color: rgb(255, 200, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 2px -2px gray;
  padding-top: 10px;
  padding-bottom: 10px;
}