.header {
  background-color: #5cdb95;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 5px -5px #409b69;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-spacer {
  height: 150px;
}

.body-container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  padding: 0 20px;
}


.footer {
  background-color: #5cdb95;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 5px -5px #409b69;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #333333;
  text-decoration: none;
}