#modal {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-box {
  position: fixed;
  background: rgb(255, 245, 211);
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 30px;
  padding: 30px;
  max-width: 800px;
  box-sizing: border-box;
}

.modal-title {
  border-bottom: 1px solid #333333;
  margin-bottom: 20px;
  font-size: 3.0rem;
}

.modal-title i.close {
  float: right;
  color: #333333;
  top: 0;
  font-size: 1.6rem;
  cursor: pointer;
}