button.google {
  font-size: 1.6rem;
  border: 1px solid rgb(92, 219, 149);
  border-radius: 5px;
  box-shadow: 0 0 1px 0 #333;
  background-color: rgb(66,133,244);
  color: #ffffff;
  padding: 1px 10px 1px 1px;
  outline-color: #388d5e;;
}

i.google {
  background-color: #ffffff;
  color: rgb(66,133,244);
  padding: 4px;
  border-radius: 3px 0 0 3px;

}