.recipe-search {
  margin: 0 20px;
  outline: #333
}

.recipe-search input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.8rem;
  outline: none;
  border-radius: 10px;
  border: 1px solid #5a7247;
  box-shadow: 0 0 3px 0 #323f27;
  background-color: #ffffff; 
}

@media (max-width: 1000px) {
  .recipe-search {
    margin: 0;
  }
}