.wizard-title {
  font-size: 2.0rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.add-input-field {
  float: right;
  top: 0;
  font-size: 1.2rem;
}

.wizard-list {
  margin-bottom: 30px;
}

.form-item {
  margin-bottom:20px;
}

.form-item input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-top: 3px;
  margin-right: 3px;
  font-size: 1.6rem;
  outline-color: #333333;
  outline-width: 1px;
}

.form-item label {
  margin-right: 10px;
}

.form-item label.item-block {
  display: block;
  width: 100%;
}

.form-item input.item-block {
  display: block;
  width: 100%;
}

.form-item select {
  font-size: 1.6rem;
  outline-color: #333333;
  outline-width: 1px;
}

.form-item-error {
  color: rgb(184, 0, 0);
  padding-top: 2px;
  padding-left: 5px;
  font-size: 1.4rem;
}

.form-list-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-areas: "number item";
  grid-column-gap: 10px;
  margin-bottom:5px;
}

.form-list-label-item {
  grid-area: number;
  align-self: center;
  justify-self: end;
}

.form-list-input-item {
  grid-area: item;
  display: flex;
}

.form-list-input-item input {
  flex-grow: 2;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 0;
  font-size: 1.6rem;
  outline-color: #333333;
  outline-width: 1px;
}

input.oven-temp {
  width: 30px;
}

.modal-content ul {
  list-style: none;
}

.modal-box button {
  padding: 5px 10px;
  background-color: #5a7247;
  font-weight: 600;
  border-radius: 5px;
  font-size: 2.0rem;
  outline-color: #333333;
  outline-width: 1px;
}

.modal-box button.next, .modal-box button.submit {
  float: right;
  margin-top: 30px;
}

.modal-box button.previous {
  float: left;
  margin-top: 30px;

}

.modal-box label {
  font-weight: 600;
}

button.remove-list-item {
  color: #ffffff;
  background-color: rgb(184, 0, 0);
  font-size: 1.4rem;
  border-radius: 0 5px 5px 0;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 0;
  padding: 6px 10px 5px 10px;
}