.form-item {
  margin-bottom:20px;
}

.form-item input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-top: 3px;
}

.form-item input, .form-item select {
  font-size: 1.6rem;
  outline-color: #333333;
  outline-width: 1px;
}

.modal-box button {
  padding: 5px 10px;
  background-color: rgb(255, 200, 0);
  font-weight: 600;
  border-radius: 5px;
  font-size: 2.0rem;
  outline-color: #333333;
  outline-width: 1px;
}

.modal-box button.next, .modal-box button.submit {
  float: right;
}

.modal-box button.previous {
  float: left;
}

.modal-box label {
  font-weight: 600;
}

.add-input-field {
  float: right;
  top: 0;
  font-size: 1.4rem;
}